<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top shadow-sm">
  <div class="container-fluid">
    <div class="w-1/3 flex justify-end">
      <%= link_to authenticated_root_path do %>
        <%= image_tag "logo.png", class: 'h-10 w-32' %>
      <% end %>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <form class="hidden lg:flex border bg-gray-100 border-gray-100 p-1 rounded-lg">
      <div class="flex p-1 ">
        <input class="p-0 border-none bg-gray-100" type="search" placeholder="Search" aria-label="Search">
        <%= image_tag "search.svg", class: 'w-4 ml-2' %>
      </div>
    </form>

    <div class="hidden w-1/3 lg:block navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav flex justify-between items-center space-x-4">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to authenticated_root_path do %>
              <%= image_tag "home.svg", class: "w-5" %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to authenticated_root_path do %>
              <%= image_tag "message.svg", class: "w-5" %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to authenticated_root_path do %>
              <%= image_tag "pin.svg", class: "w-5" %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_post_path do %>
              <%= image_tag "plus.svg", class: "w-5" %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to authenticated_root_path do %>
              <%= image_tag "heart.svg", class: "w-5" %>
            <% end %>
          </li>
          <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if current_user.avatar.attached? %>
              <%= cl_image_tag current_user.avatar.key, class: "inline-block w-6 rounded-full", alt: "dropdown menu" %>
            <% else %>
              <%= image_tag 'avatar.svg', class: "inline-block w-6 rounded-full", alt: "dropdown menu" %>
            <% end %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
