<div class="flex justify-center items-start pt-5">
  <div class="hidden lg:block">
    <%= image_tag 'home-phone-bg.jpg', class: "h-full w-full object-cover" %>
  </div>

  <div class="flex flex-col">
    <div class="bg-white border rounded-md w-full max-w-sm lg:w-96 border-gray-400 flex flex-1 flex-col justify-center px-4 py-12 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
      <%# card %>
      <div class="w-full">
        <div class='text-center'>
          <%= image_tag 'logo.png', class: "h-10 w-auto m-auto" %>
        </div>

        <div class="mt-10">
          <div>
            <form action="#" method="POST" class="space-y-6">
              <div>
                <div class="mt-2 border rounded-md border-gray-400">
                  <input id="email" name="email" type="email" autocomplete="email" placeholder='Phone number, username, or email' required class="block w-full rounded-md border-0 py-1.5 shadow-sm placeholder:text-gray-400">
                </div>
              </div>

              <div>
                <div class="mt-2 border rounded-md border-gray-400">
                  <input id="password" name="password" type="password" autocomplete="current-password" placeholder='Password' required class="block w-full rounded-md border-0 py-1.5 shadow-sm placeholder:text-gray-400">
                </div>
              </div>

              <div>
              </div>
                <%= link_to 'Log in', new_user_session_path, class: "flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm" %>
            </form>
          </div>

          <div class="mt-3">
            <div class="relative">
              <div class="absolute inset-0 flex items-center" aria-hidden="true">
                <div class="w-full border-t border-gray-200"></div>
              </div>
              <div class="relative flex justify-center text-sm font-medium leading-6">
                <span class="bg-white px-6 text-gray-900 text-bold">OR</span>
              </div>
            </div>

            <div class=" flex flex-col items-center justify-center space-y-3">
              <div class="flex items-center justify-center space-x-3">
                <%= image_tag 'facebook.png', class: "h-5 w-5" %>
                <span class="text-sm font-semibold leading-6">Log in with Facebook</span>
              </div>
              <div>
                <%= link_to 'Forgot password?', root_path, class: "text-sm text-black" %>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
    <div  class="bg-white border rounded-md w-full border-gray-400 text-center px-3 py-2 mt-3">
      Don't have an account? <%= link_to 'Sign up', new_user_registration_path %>
    </div>
  </div>
</div>
