<div class='flex justify-center my-2'>
  <div class="card w-72 bg-white border border-gray-400 rounded-md">
    <div class="flex justify-between card-header bg-white space-x-1">
      <div>
        <% if  post.user.avatar.attached? %>
        <%= cl_image_tag post.user.avatar.key, class: "inline-block h-10 w-10 rounded-full" %>
        <% else %>
          <%= image_tag 'avatar.svg', class: "inline-block w-5 rounded-full" %>
        <% end %>
        <span><%= post.user.username %></span>
      </div>
      <div>
        <div class="dropdown">
          <a href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            <%= image_tag 'menu-dots.svg', class: 'w-5' %>
          </a>
          <ul class="dropdown-menu dropdown-menu-end bg-white" aria-labelledby="dropdownMenuLink">
            <li>
              <%= link_to 'Edit', edit_post_path(post), class: "text-gray-700 block px-4 py-2 text-sm" %>
            </li>
            <li>
              <%= link_to 'Delete post', post_path(post), data: {turbo_method: :delete}, class: "text-gray-700 block px-4 py-2 text-sm" %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card-body">
      <%= render 'posts/carousel', post: post %>
      <%= render 'posts/post_actions', post: post %>
      <p class='text-sm'><span class='font-semibold'><%= post.user.username %></span> <%= post.caption %></p>
      <%= render 'posts/post_comments', post: post %>
      <p class='text-xs text-gray-500'><%= time_ago_in_words(post.created_at) %> ago</p>
    </div>
    <div class="card-footer flex items-center justify-between bg-white space-x-1 h-10" data-controller="reset-form">
      <%= image_tag 'happy-face.svg', class: "inline-block w-5 rounded-full" %>
      <%= simple_form_for([post, Comment.new], data: { action: "turbo:submit-end->reset-form#reset"}) do |f| %>
        <div class="flex justify-center items-center space-x-1 h-10">
          <%= f.input :body, label: false, class: 'w-3/4 text-sm resize-none post-comment', placeholder: "Add a comment...", input_html: {data: {'reset-form-target': 'input'}} %>
          <%= f.submit 'Post', class: "text-xs font-semibold" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
