<!DOCTYPE html>
<html>
  <head>
    <title>RailsInstagramClone</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% unless controller_name == "sessions" || controller_name == "registrations" %>
       <%= render "shared/navbar" %>
    <% end %>
    <div class="flex mt-10 mx-52">
      <div class="flex flex-col w-2/4">
        <div class="flex justify-center items-center">
          <%= render 'story/stories_list' %>
        </div>
        <%= yield %>
      </div>

      <%= render 'suggestions/suggestion_list' %>
    </div>

    <%= render "shared/flashes" %>
  </body>
</html>
