<!DOCTYPE html>
<html>
  <head>
    <title>RailsInstagramClone</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% unless controller_name == "sessions" || controller_name == "registrations" %>
       <%= render "shared/navbar" %>
    <% end %>
    <div class="flex justify-center items-center mt-10">
      <%= render 'story/stories_list' %>
    </div>
    <%= render "shared/flashes" %>

    <%= yield %>
  </body>
</html>
